{% extends "base.html" %}
{% block title %}admin article{% endblock %}
{% block content %}
<h1>admin article detail</h1>
{{ T.article.key().id() }}

<h3>title</h3>
{{ T.article.title }}

<h3>body</h3>
{{ T.article.body }}

<h3>tags</h3>
<ul>
{% for t in T.tags %}
{% if t and t.key and t.key().id() %}
<li><a href="/admin/tag/article?tid={{ t.key().id() }}">{{ t.name}} : {{ t.value }}</a></li>
{% endif %}
{% endfor %}
</ul>

<br>
<p><a href="/admin/article">back to article list</a></p>
{% endblock %}
