<!DOCTYPE HTML>
<html lang="ja" ng-app="MyBlogApp">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" herf="//fonts.googleapis.com/css?family=Lato:400,700,900,400italic">

<style>
h1,h2,h3,h4,h5,h6,body {
  font-family: 'Balthazar', sans-serif;
}
.form-control {
  font-size: 14px;
  padding: 5px 5px;
  height: 35px;
  box-shadow:none;
}
.form-control:focus {
  box-shadow: none;
  border-width: 2px;
}
#preview {
  border:1px dashed #ddd;
  padding:10px;
  border-radius:4px;
}
.red {
  color:red;
}
.xlarge {
  font-size:x-large;
}
</style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="/static/moment.min.js"></script>
    <script src="/static/bootstrap-datetimepicker.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-sanitize.js"></script>

    <script src="/static/admin_controllers.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1><span class="glyphicon glyphicon-pencil"></span> CMS Editor</h1>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
