- content_for :title do
  Summary
- content_for :content do
  .row
    .col-md-12
      %h3
        2014/11/20 - 2014/11/27
  .row
    .col-md-3
      ecpm
      %br
      %span.summary
        $ 8.064
    .col-md-3
      cvvs
      %br
      %span.summary
        2,800
    .col-md-3
      imps
      %br
      %span.summary
        3,400
    .col-md-3
      earnings
      %br
      %span.summary
        $ 0.04032

