<div ng-include="'/static/templates/partials/editor_tab_content.html'"></div>

<form name="newContent"
      ng-controller="ContentSaveCtrl"
      ng-submit="submit()" novalidate>

    <h3>New Content</h3>

<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label for="content_title" class="control-label">Title</label>
      <span ng-show="newContent.title.$error.required">required</span>
      <span ng-show="newContent.title.$valid">OK</span>
      <input type="text" value="" id="content_title" class="form-control"
             name="title"
             ng-model="data.title"
             ng-maxlength="200" required>
    </div>

    <div data-date-format="yyyy-mm-dd"
         data-date="2014-02-14"
         class="date input-append form-group">
      <label for="content_published_at" class="control-label">Publish Date</label>

      <div class="row">
        <div class="col-sm-6">
          <input type="text" value="" id="content_published_day"
                 class="form-control datepicker"
                 ng-model="data.published_day" readonly=""
                 ng-maxlength="200">
        </div>
        <div class="col-sm-3">
          <select class="form-control" name="published_hour" ng-model="data.published_hour">
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select class="form-control" ng-model="data.published_min">
            <option value="00">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
          </select>
        </div>
      </div>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"
               ng-model="data.published"> Published
               
      </label>
    </div>

    <div class="form-group">
      <a class="btn btn-default" href="#/contents">Cancel</a>
      <button ng-disabled="newContent.$invalid" class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="form-group">
      <label for="content_body" class="control-label">Body</label>
      <textarea id="content_body"
                ng-model="data.content"
                class="form-control" rows="10" required></textarea>
    </div>

    <div class="form-group">
      <label for="" class="control-label">Preview</label>
      <div ng-bind-html="data.content" id="preview"></div>
    </div>
  </div>
</div>

</form>

<script>
var datepicker = $('.datepicker').datepicker({format:"yyyy-mm-dd"});
datepicker.on('changeDate', function(){ datepicker.datepicker('hide'); });
</script>
