<div ng-include="'/static/templates/partials/editor_tab_content.html'"></div>

<h3>Contents</h3>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th width="120">posted at</th>
      <th>title</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="content in contents">
      <td>||content.posted_at | date: 'yyyy-MM-dd'||</td>
      <td><a href="#">||content.title||</a></td>
    </tr>
  </tbody>
</table>

<p>
  <a class="btn btn-default" href="#/new_content">New content</a>
</p>

