<div ng-include="'/static/templates/partials/editor_tab_content.html'"></div>

<form method="POST" name="newContent"
      ng-controller="ContentSaveCtrl"
      ng-submit="submit()" novalidate>

    <h3>New Content</h3>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="content_title" class="control-label">Title</label>
      <input type="text" value="" id="content_title" class="form-control" name="title">
    </div>

    <div class="form-group">
      <label for="content_body" class="control-label">Body</label>
      <textarea id="content_body" ng-model="content_body"
                class="form-control" rows="10" name="body"></textarea>
    </div>

    <div class="form-group">
      <a class="btn btn-default" href="#/contents">Cancel</a>
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div class="col-sm-6">
    <label for="" class="control-label">Preview</label>
    <div ng-bind-html="content_body" id="preview"></div>
  </div>
</div>

</form>
