<div ng-include="'/static/templates/partials/editor_tab_content.html'"></div>

<form name="newContent"
      ng-controller="ContentSaveCtrl"
      ng-submit="submit()" novalidate>

    <h3>New Content</h3>

<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label for="content_title" class="control-label">Title</label>
      <span ng-show="newContent.title.$error.required">required</span>
      <span ng-show="newContent.title.$valid">OK</span>
      <input type="text" value="" class="form-control"
             name="title"
             ng-model="data.title"
             ng-maxlength="200" required>
    </div>

    <div class="date input-append form-group">
      <label for="content_published_at" class="control-label">Publish Date</label>
      <input type="text" value="" id="content_published_at" class="form-control datetimepicker"
             name="published_at" data-format="YYYY/MM/DD hh:mm:ss"
             ng-model="data.published_at" required>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox"
               ng-model="data.published"> Published
      </label>
    </div>

    <div class="form-group">
      <a class="btn btn-default" href="#/contents">Cancel</a>
      <button ng-disabled="newContent.$invalid" class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="form-group">
      <label for="content_body" class="control-label">Body</label>
      <textarea id="content_body"
                ng-model="data.content"
                class="form-control" rows="10" required></textarea>
    </div>

    <div class="form-group">
      <label for="" class="control-label">Preview</label>
      <div id="main_contents">
        <h2 class="content_title">||data.title||</h2>
        <h3 class="content_published_at">||data.published_at||</h3>
        <div ng-bind-html="data.content"></div>
      </div>
    </div>

  </div>
</div>

</form>

<script>
var datepicker = $('.datetimepicker').datetimepicker();
</script>
