div.logo {
    margin: 10px 0;
}

div.adlantis_pos_llec {
    margin: 0 0 10px 0;
    padding: 0;
    width: 300px;
    height: 250px;
    background-color: #eee;
}
div.adlantis_pos_side {
    margin: 0 0 10px 0;
    padding: 0;
    width: 300px;
    height: 100px;
    background-color: #faa;
}

div.module {
    border: 1px solid #57718F;
    margin-bottom: 10px;
}
div.module h2 {
    border-bottom: 1px solid #57718F;
    background-color: #BFCFFF;
    font-size: 14px;
    padding-left: 5px;
    line-height: 30px;
}
div.module div.body {
    padding: 5px;
}