{% extends "admin_base.html" %}
{% block tool %}Admin{% endblock %}
{% block title %}Top{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" role="form" method="POST" action="">
      <legend>Edit adcreative infomation</legend>

      <div class="form-group">
        <label for="input_lp" class="col-sm-3 control-label">
          landing page url
        </label>
        <div class="col-sm-9">
          <input name="lp"
                 type="text"
                 value="{{ adc_lp }}"
                 class="form-control"
                 id="input_lp"
                 placeholder="landing page url">
        </div>
      </div>

      <div class="form-group">
        <label for="input_tmpl_id" class="col-sm-3 control-label">
          template id
        </label>
        <div class="col-sm-9">
          {% for i in [1,2,3] %}
          <div class="radio">
            <label>
              <input type="radio" name="tmpl_id" value="{{ i }}"
                     {% if not adc_tmpl_id and i == 1 %}checked="checked"
                     {% elif adc_tmpl_id == i %}checked="checked"{% endif %}> template {{ i }}
            </label>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="form-group">
        <label for="input_img_url" class="col-sm-3 control-label">
          image url
        </label>
        <div class="col-sm-9">
          <input name="img_url"
                 type="text"
                 value="{{ adc_img_url }}"
                 class="form-control"
                 id="input_img_url"
                 placeholder="image url">
        </div>
      </div>

      <div class="form-group">
        <label for="input_title" class="col-sm-3 control-label">
          title
        </label>
        <div class="col-sm-9">
          <input name="title"
                 type="text"
                 value="{{ adc_title }}"
                 class="form-control"
                 id="input_title"
                 placeholder="title">
        </div>
      </div>

      <div class="form-group">
        <label for="input_price" class="col-sm-3 control-label">
          price
        </label>
        <div class="col-sm-9">
          <input name="price"
                 type="text"
                 value="{{ adc_price|default(0) }}"
                 class="form-control"
                 id="input_price"
                 placeholder="price">
        </div>
      </div>

      <div class="form-group">
        <label for="input_org_price" class="col-sm-3 control-label">
          original price
        </label>
        <div class="col-sm-9">
          <input name="org_price"
                 type="text"
                 value="{{ adc_org_price|default(0) }}"
                 class="form-control"
                 id="input_org_price"
                 placeholder="original price">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <a href="{{ T.self.url_for('admin_adv_adc_list', adv_id=adv_id) }}" class="btn btn-default">Cancel</a>
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
