<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.7.css') }}" rel="stylesheet">
    <style>
body { padding-top: 80px; }
    </style>
    <link href="{{ url_for('static', filename='bootstrap-responsive.min.css') }}" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert">
      {% for message in messages %}
      {{ message }}<br>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<form method="POST">
  <p>username: <input type="text" name="username"></p>
  <p>password: <input type="password" name="password"></p>
  <p><input type="submit" class="btn-large btn-primary"></p>
</form>

<p><a href="{{ url_for('index') }}">index</a></p>

    </div>
  </body>
</html>
