<!DOCTYPE html>
<html lang="ja" ng-app="MyBlogApp">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - MyBlog Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script>

    <script src="/static/admin_app.js"></script>
    <script src="/static/admin_controllers.js"></script>

<!--
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.js"></script>
-->

<style>
body {
    padding-top: 60px;
}
.tab-pane {
    padding-top: 10px;
}
.list-group {
    margin-bottom: 10px;
}
</style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endblock %}
  </head>

  <body>

    {% include "admin_header.html" %}

    <div class="container">
      <div class="header">
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
