{% extends "base.html" %}
{% block tool %}Admin{% endblock %}
{% block title %}Top{% endblock %}
{% block content %}

      {% include "mod_message.html" %}
      <div class="row">
        <div class="col-md-6 col-md-offset-3">

          <!-- <h5>{{ T.expired_at }}</h5> -->

          <div id="expmes" style="display:none">
            <div class="alert alert-warning">Showing messages expired. Please reload page and unlock.</div>
          </div>
          <div id="tweets">
          {% for tweet in T.tweets  %}
          <div class="tweet-history" data-message-id="{{ tweet.id }}">
            <h4 class="date">{{ tweet.ctime }}</h4>
            <pre>{{ tweet.body|safe }}</pre>
          </div>
          <hr class="sep">
          {% endfor %}

          <ul class="pager">
            {% if T.newer %}
            <li><a href="/?offset={{ T.newer }}">Newer</a></li>
            {% elif T.newer == 0 %}
            <li><a href="/">Newer</a></li>
            {% endif %}
            {% if T.older %}
            <li><a href="/?offset={{ T.older }}">Older</a></li>
            {% endif %}
          </ul>

          </div>
        </div>
      </div>

{% if T.expires_at %}
<script>
var L = function(mes){
    if(console) console.debug(mes);
}
var INT_LOCAL  = 20;
var INT_REMOTE = 250;
var NOW = function(){
    return parseInt((new Date).getTime()/1000);
};
var expires_at = parseInt('{{ T.expires_at }}');
var last_checked_at = NOW();
var lock = function(){
    $('#tweets').hide();
    $('#expmes').show();
    clearInterval(cron1);
    clearInterval(cron2);
};

var check_lock_exp = function(n){
    if(!n) n = NOW();

    if(!expires_at || expires_at < n){
        L('expired at check_lock: expires_at = ' + expires_at + ', now = ' + n);
        lock();
        return false;
    }
    return true;
}

var check_lock = function(){
    L('executing check_lock ...');
    var n = NOW();

    check_lock_exp(n);

    if(last_checked_at + INT_REMOTE < n){
        update_expires_at();
    }
};
var update_expires_at = function(){
    L('syncing expires_at ...');
    $.ajax({
        url: "/a/lock/check",
        dataType: "json",
        cache: false,
        success: function(obj){
            var n = NOW();
            if(obj.status === 'NG' && obj.message == "locked"){
                L('remote locked');
                lock();
            }
            else if(obj.status === 'OK'){
                L('remote unlocked. update expires_at');
                last_checked_at = n;
                if(expires_at != obj.expires_at){
                    expires_at = obj.expires_at;
                    check_lock_exp(n);
                }
            }
        },
        error: function(){
            expires_at -= 60;
            L('check_lock_remote update failed. exp is ' + expires_at);
            check_lock_exp(n);
        }
    });
};
var posted_text = "";
var post_text = function(){
    var text = $('#edit_tweet').val();
    if(text && 3 < text.length && posted_text != text){
        $.ajax({
            type: "POST",
            url: '/a/tweet/tmp',
            data: text,
            success: function(ret){
                //L('posted: ' + text);
                posted_text = text;
            },
            dataType: 'text',
        });
    }
};
var cron1 = setInterval(check_lock, 1000 * INT_LOCAL);
var cron2 = setInterval(post_text, 1000 * 10);
</script>
{% endif %}
{% endblock %}
