{% extends "base_toeic800.html" %}
{% block title %}Menu{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="list-group">
      {% for sentence in T.sentences %}
      {% include "mod_toeic800_sentence.html" %}
      {% endfor %}
    </ul>
  </div>
</div>

<script>
function sum_rate(keyname, point){
    var r = parseInt($('#rate_of_'+keyname).text());
    $.ajax({
        type: "GET",
        url: '/toeic800/'+keyname+'/rate/' + (r + point),
        success: function(ret){
            r += point;
            $('#rate_of_'+keyname).text(r);
        },
    });
}
</script>

{% endblock %}
